tl
graphics/gtl
tlmeta
docgen.tl
doc.html

*.tlb
*.o
*.lo
*.a
*.la
*.so
*.dylib
*.dSYM
boot/*.c
boot/*.h

test/noboot/*.log
test/noboot/*.err
cmodules/*.mod
hotelparser/*parser.c
vm/*_test
modules/*.h
modules/sizzle.tl
